body{
	background: url(images/bg.jpg) no-repeat;background-size:100% auto;
	min-width: 1006px;
}
.navigation {
	width: 100%;
	display: inline-block;
	background-color: rgb(177,49,68,0.5);
	color: white;
	/* opacity:0.5; */
}
.navigation ul li a {
	color:white;
	text-decoration: none;
}
.navigation ul{
	height:inherit;
}
.navigation ul li{
	height: inherit;
	width: 14.2%;
	float:left;
	list-style:none;
	font-size: 16px;
	padding: 15px 0;
	border-radius: 5px;
}
.navigation ul li:hover{
	height: inherit;
	width: 14.2%;
	float:left;
	list-style:none;
	font-size: 16px;
	padding: 15px 0;
	background-color: rgb(0,0,0,0.5);
}
.active{
	height: inherit;
	width: 14.2%;
	float:left;
	list-style:none;
	font-size: 16px;
	padding: 15px 0;
	background-color: rgb(128,128,128,0.5);
}
.navigation ul li .active a{
	color:#000;
}
.main {
	min-width: 768px;
	width: 60%;
	margin-left: 20%;
	z-index: 0;
	min-height: 500px;
	background-color: rgb(192,192,192,1);
	padding: 0px;
	margin-top: 10px;
	border-radius: 10px;
}

.ac_intro {
	border-radius:10px 10px 0 0;
	width: 100%;
	min-height: 300px;
	background-color: rgb(192,192,192,1);
}

.ac_dyn {
	width: 100%;
	min-height: 300px;
	background-color: rgb(192,192,192,1);
}

.list {
	width: 100%;
	min-height: 300px;
	background-color: rgb(192,192,192,1);
}

.uImg li {
	width: 178px;
	min-height: 100px;
	float: left;
	margin: 20px 0px 0 3px;
	list-style: none;
}

.uImg li img {
	width: 80px;
	height: 100px;
	float: left;
	padding-right: 5px;
}

.uImg li h3 {
	font-size: 16px;
}

.uLh {
	padding: 10px 20px;
	border: 1px solid #b13144;
	min-height: 240px;
	overflow: hidden;
}

.uLh li {
	clear: both;
	/* background: url(dian.jpg) no-repeat 0 center; */
	padding-left: 15px
}

.uLh li a {
	font-size: 14px;
	line-height: 30px;
}

.page {
	overflow: hidden;
	margin: 15px auto;
}
.page ul {
	text-align: center;
	overflow: hidden;
}
.page ul li {
	font: 14px/23px \5FAE\8F6F\96C5\9ED1;
	height: 25px;
	margin-right: 5px;
	display: inline;
}
.page ul li a {
	border: #FFF solid 1px;
	padding: 0px 8px;
	height: 23px;
	display: inline-block;
	background: white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.page ul li.thisclass {
	border: 0;
	color: #cd0001 !important;
	padding: 0 8px;
	font-weight: bold;
}
.page ul li a:hover {
	background: #cd0001;
	border: #cd0001 solid 1px;
	color: white !important;
	text-decoration: none;
}

.jTxt {
	display: flex;
	width: 100%;
	max-height: 240px;
	border: 1px solid #b13144;
	background: white;
	line-height:240px;
	overflow:auto;
	overflow-x:hidden;
}

.jTxt img {
	width: 158px;
	min-height: 169px;
	float: left;
	padding-right: 20px
}

.jTxt p {
	text-indent: 2em;
	line-height: 22px;
	color: #525252
}

.footer {
	height: 40px;
	width: 100%;
	background: rgb(177,49,68,0.5);
	overflow: hidden;
	text-align: center;
	margin-top: 0px;
	bottom:0;
}
#news0:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news1:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news2:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news3:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news4:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news5:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news6:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news7:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news8:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news9:hover{
	cursor: pointer;
  text-decoration: underline;
  background-color: rgb(177,49,68,0.5);
  color:#fff;
  height: 30px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#mybtn:hover{
	border:1px solid #b13144;
	cursor: pointer;
  text-decoration: underline;
}
#img0:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img1:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img2:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img3:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img4:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img5:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img6:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img7:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img8:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img9:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img10:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img11:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img12:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img13:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img14:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img15:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img16:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img17:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img18:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img19:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img20:hover{
	cursor: pointer;
	transform: scale(1.1);
}

#img21:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#img22:hover{
	cursor: pointer;
	transform: scale(1.1);
}
#contentMain_back:hover{
	cursor: pointer;
}
