#info0:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info1:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info3:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info4:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info5:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info6:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info7:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info8:hover{
  cursor: pointer;
  text-decoration: underline;
}
#info9:hover{
  cursor: pointer;
  text-decoration: underline;
}
