#news0:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news1:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news3:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news4:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news5:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news6:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news7:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news8:hover{
  cursor: pointer;
  text-decoration: underline;
}
#news9:hover{
  cursor: pointer;
  text-decoration: underline;
}
