#news0:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news1:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news2:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news3:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news4:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news5:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news6:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news7:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news8:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
#news9:hover{
  cursor: pointer;
  text-decoration: underline;
  background-color: #279c74;
  color:#fff;
  height: 24px;
  border-radius: 8px;
  padding-left: 0px;
  padding-top: 4px;
  font-size: 16px;
}
