#title0:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title1:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title3:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title4:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title5:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title6:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title7:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title8:hover{
  cursor: pointer;
  text-decoration: underline;
}
#title9:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name0:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name1:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name3:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name4:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name5:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name6:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name7:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name8:hover{
  cursor: pointer;
  text-decoration: underline;
}
#red_name9:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name0:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name1:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name2:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name3:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name4:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name5:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name6:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name7:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name8:hover{
  cursor: pointer;
  text-decoration: underline;
}
#re_name9:hover{
  cursor: pointer;
  text-decoration: underline;
}
